body {
    background: #ffffff url('img/background.gif') repeat center top;
    font-family: 'Comfortaa', cursive;
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.40);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.xrow {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px 3px 3px 3px;
}

#about {
    margin: 10px 0 0 0;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
#photo {
    margin: auto;
    margin-top: 36px;
}
#contacts a {
    display: block;
    max-width: 100%;
    font-size: 30px;
    line-height: 45px;
    height: 52px;
    padding-left: 55px;
}
#contacts {
    margin-top: 10px;
}
#contacts li {
    padding: 0;
}
#mail {
    background:url('img/mail30.png') center left no-repeat;
    padding-left: 60px;
}
#skype {
    background:url('img/skype40.png') center left no-repeat;
}
img {
    display: block;
    margin: auto;
}

h2 {
    font-family: 'Marck Script', cursive;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    padding: 0 0 15px 0;
}
#animation li {
    padding: 0 0 27px 0;
}
li:last-child, #animation li:last-child {
    padding: 0
}

#vimeo, #flickr {
    float: right;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}
#vimeo:hover, #flickr:hover {
    text-decoration: none;
}
#vimeo img, #flickr img {
    display: inline;
    margin: 0 0 8px 0;
}

/* jPlayer */
.jp-playlist li {
    padding: 0 5px;
    font-size: x-small;
    font-weight: bold;
}

.jp-playlist-current {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.jp-playlist-current a, .jp-playlist-current a:hover, .jp-playlist-current a:active {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.jp-playlist-current a:hover {
    text-decoration: underline;
}

.jp-free-media {
    float: right;
    padding-left: 2px;
    font-weight: normal;
}